burger-menu {
  position: relative;
}

.burger-menu {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: calc(-1 * (var(--ann-height)));
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  background-color: rgb(var(--color-background));
  transition: opacity var(--duration-default), transform var(--duration-default), visibility var(--duration-default);
  display: flex;
}
burger-menu[opened=true] .burger-menu {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.burger-menu__toggle {
  position: relative;
  z-index: 5;
  display: none;
  width: 4.4rem;
  height: 4.4rem;
  margin-right: 1.6rem;
  background: transparent;
  transition: opacity var(--duration-default) ease-in-out;
}
@media screen and (min-width: 1100px) {
  .burger-menu__toggle {
    display: flex;
  }
  burger-menu[opened=true] .burger-menu__toggle {
    z-index: 1001;
  }
}
@media screen and (hover: hover) and (pointer: fine) {
  .burger-menu__toggle:hover {
    opacity: var(--hover-opacity);
  }
}
.burger-menu__toggle-line {
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background-color: rgb(var(--color-foreground));
  transition: top var(--duration-default) ease-in-out, transform var(--duration-default) ease-in-out;
  transform-origin: center;
}
.burger-menu__toggle-line:first-child {
  top: 1.7rem;
  transform: rotate(0) translateY(0);
}
burger-menu[opened=true] .burger-menu__toggle-line:first-child {
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}
.burger-menu__toggle-line:last-child {
  top: 2.5rem;
  transform: rotate(0) translateY(0);
}
burger-menu[opened=true] .burger-menu__toggle-line:last-child {
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
}
.burger-menu__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: calc(var(--ann-height) + var(--header-height)) 0;
  gap: 1.6rem;
}
.burger-menu__wrapper--with-links {
  display: grid;
  grid-template-rows: calc(var(--ann-height) + var(--header-height) - 5.8rem) 1fr auto;
  grid-template-columns: 1fr;
  padding: 5.8rem 0;
}
.burger-menu__cards {
  display: grid;
  align-items: center;
  overflow-y: auto;
}
.burger-menu__cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}
.burger-menu__cards::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}
.burger-menu__cards::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-scrollbar));
  border-radius: 2rem;
}
.burger-menu__card {
  position: relative;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  display: flex;
  border-radius: var(--border-radius-block);
  overflow: hidden;
  transition: background-color var(--duration-default), color var(--duration-default);
}
.burger-menu__card::after {
  content: "";
  display: block;
  width: 0;
}
.burger-menu__card--landscape::after {
  padding-bottom: 66%;
}
.burger-menu__card--square::after {
  padding-bottom: 100%;
}
.burger-menu__card--portrait::after {
  padding-bottom: 133%;
}
@media screen and (hover: hover) and (pointer: fine) {
  .burger-menu__card--link:hover {
    background-color: rgb(var(--color-foreground));
    color: rgb(var(--color-background));
  }
  .burger-menu__card--link:hover * {
    color: rgb(var(--color-background));
  }
  .burger-menu__card--link:hover .burger-menu__card-icon {
    transform: rotate(45deg);
  }
  .burger-menu__card--link:hover .burger-menu__card-description {
    color: rgba(var(--color-background), 0.7);
  }
  .burger-menu__card--media:hover .burger-menu__card-image {
    transform: scale(1.05);
  }
}
.burger-menu__card-inner {
  padding: 4rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.burger-menu__card--link .burger-menu__card-inner {
  justify-content: space-between;
}
.burger-menu__card--media .burger-menu__card-inner {
  justify-content: flex-end;
}
.burger-menu__card-top {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.burger-menu__card--media .burger-menu__card-top {
  align-items: center;
  text-align: center;
  z-index: 3;
}
.burger-menu__card-heading {
  transition: color var(--duration-default);
}
.burger-menu__card-description {
  word-break: break-word;
  color: rgba(var(--color-foreground), 0.7);
  transition: color var(--duration-default);
}
.burger-menu__card-link {
  border-radius: var(--border-radius-block);
  cursor: pointer;
  position: absolute;
  display: block;
  inset: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: transparent;
}
.burger-menu__card-link:empty {
  display: block;
}
.burger-menu__card-link:focus-visible {
  outline-offset: -0.1rem;
}
.burger-menu__card-icon {
  width: 3rem;
  height: 3rem;
  transition: transform var(--duration-default), color var(--duration-default);
}
.burger-menu__card-icon .icon {
  width: 3rem;
  height: 3rem;
}
.burger-menu__card-image {
  position: absolute;
  display: block;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: transform 700ms cubic-bezier(0.4, 0, 0.25, 1);
}
.burger-menu__card-image svg,
.burger-menu__card-image img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.burger-menu__card-overlay {
  position: absolute;
  display: block;
  inset: 0;
  z-index: 2;
  background-color: rgb(var(--color-overlay));
  width: 100%;
  height: 100%;
}
.burger-menu__card-button {
  z-index: 4;
  align-self: center;
}
.burger-menu__top {
  min-height: calc(var(--ann-height) + var(--header-height) - 5.8rem);
}
.burger-menu__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 2.4rem;
  min-height: calc(var(--ann-height) + var(--header-height) - 5.8rem);
}
.burger-menu__bottom .list-social {
  width: 100%;
  max-width: 50rem;
}
.burger-menu__info-links {
  width: 100%;
  max-width: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 0.8rem 2.8rem;
}
.burger-menu__info-links a {
  color: rgb(var(--color-foreground));
  text-decoration: none;
  transition: opacity var(--duration-default);
}
@media screen and (hover: hover) and (pointer: fine) {
  .burger-menu__info-links a:hover {
    opacity: var(--hover-opacity);
  }
}

.header__left:has(burger-menu[opened=true]) + .header__heading > .header__heading-link, .header__left:has(burger-menu[opened=true]) + .header__heading-link, .header__left:has(burger-menu[opened=true]) > .header__heading > .header__heading-link, .header__left:has(burger-menu[opened=true]) > .header__heading-link {
  z-index: 1001;
}