.header__icon--menu {
  position: initial;
}

.header__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.4rem;
  height: 4.4rem;
}

menu-drawer > details[open] > summary::before {
  visibility: visible;
  opacity: 1;
}

.menu-drawer__menu .menu-opening[open] > summary:not(.menu-drawer__menu-item--mega-menu-with-cards) {
  padding-bottom: 0.9rem;
}
.menu-drawer__menu .menu-opening[open] > summary:not(.menu-drawer__menu-item--mega-menu-with-cards) > .icon-caret-mobile-menu {
  transform: translateY(-50%) rotate(-180deg);
}

.menu-drawer {
  position: fixed;
  top: 0;
  bottom: 1.6rem;
  left: 0;
  width: 100%;
  height: calc(100vh - (var(--ann-height)));
  height: calc(var(--vh, 1vh) * 100 - (var(--ann-height)));
  padding: 0;
  background-color: rgb(var(--color-background));
  border: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden;
  z-index: 100;
}
.no-js .menu-drawer {
  box-shadow: 0px 4px 16px 0px rgba(var(--color-shadow), 0.15);
}
.menu-drawer .header__localization .localization-selector + .disclosure__list {
  top: auto;
  left: 0;
  right: unset;
  bottom: 110%;
}
.menu-drawer__top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem 1.6rem;
  padding-block: 0.8rem;
  min-height: var(--header-height);
}
.menu-drawer__main {
  overflow-y: auto;
}
.menu-drawer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.4rem;
  margin-top: auto;
  padding: 1.8rem 2.4rem;
  background-color: rgb(var(--color-background-secondary));
  z-index: 2;
}

.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
  transition: transform var(--duration-default) ease, visibility var(--duration-default) ease, opacity var(--duration-default) ease;
}

.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

details[open] > .menu-drawer__submenu {
  visibility: visible;
}

.menu-drawer__inner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.menu-drawer__navigation-container {
  padding-top: 2.2rem;
  padding-inline: 2.4rem;
  overflow-y: auto;
}
.menu-drawer__navigation-container::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}
.menu-drawer__navigation-container::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-scrollbar));
  border-radius: 2rem;
}
.no-js .menu-drawer__navigation-container {
  padding-top: 6.4rem;
}

.menu-drawer__inner-submenu {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-drawer__inner-submenu * {
  text-transform: none;
}

.menu-drawer__menu > li {
  border-top: 0.1rem solid rgb(var(--color-border));
}
.menu-drawer__menu > li:last-child {
  border-bottom: 0.1rem solid rgb(var(--color-border));
}
.menu-drawer__menu .menu-drawer__menu-item {
  color: rgb(var(--color-foreground));
  padding-block: 1.8rem;
  text-decoration: none;
}

.menu-drawer__inner-submenu li {
  border: none;
}
.menu-drawer__inner-submenu li:last-child {
  border: none;
}
.menu-drawer__inner-submenu .menu-drawer__menu-item {
  color: rgb(var(--color-foreground-secondary));
  padding-block: 0.9rem;
}
.menu-drawer__inner-submenu .menu-drawer__menu-item.childlink {
  padding-left: 1.6rem;
}
.menu-drawer__inner-submenu .menu-drawer__menu-item.grandchildlink {
  padding-left: 3.2rem;
}
.menu-drawer__inner-submenu .menu-drawer__menu-item a {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}

.menu-drawer summary.menu-drawer__menu-item {
  padding-right: 3.2rem;
}

.menu-drawer .icon-arrow {
  width: 1.3rem;
}

.menu-drawer__menu-item .icon-caret-mobile-menu {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  transition: transform var(--duration-default) ease-in-out;
}
.menu-drawer__menu-item--mega-menu-with-cards .icon-caret-mobile-menu {
  transform: translateY(-50%) rotate(-90deg);
}

.js .menu-drawer__submenu {
  width: 100%;
  background-color: rgb(var(--color-background));
  z-index: 1;
  visibility: hidden;
}

.menu-drawer__utility-links {
  padding: 3.2rem 0;
}

.menu-drawer__account {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  min-height: 4.6rem;
}

.menu-drawer__account .icon-account {
  margin-right: 0.8rem;
}

.menu-drawer__account-register {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 2rem;
  text-transform: none;
}
.menu-drawer__account-register .button {
  align-self: flex-start;
}
.menu-drawer__account-register > span {
  color: rgb(var(--color-foreground-secondary));
}

.menu-drawer .menu-drawer__utility-account {
  text-transform: none;
}

.menu-drawer__utility-name {
  display: inline-block;
  color: rgba(var(--color-foreground));
  margin-bottom: 0.8rem;
}

.menu-drawer__utility-account-body {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgba(var(--color-background));
}

.menu-drawer__utility-account-body li {
  width: 100%;
}

.menu-drawer__utility-account-body li a {
  width: 100%;
  padding: 0.8rem 0;
  text-decoration: none;
}

.menu-drawer__utility-account-cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-drawer__utility-logout {
  margin-top: 0.8rem;
}

.menu-drawer .cart-count-bubble {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 2.8rem;
  height: 2.8rem;
  font-size: 1.2rem;
  min-width: 2.8rem;
}

.menu-drawer .list-social {
  justify-content: flex-start;
  margin-top: 1.6rem;
  margin-left: -1rem;
  gap: 0;
}

.menu-drawer .list-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.4rem;
  height: 4.4rem;
  padding: 0;
  background-color: transparent;
  color: rgba(var(--color-foreground));
}

.menu-drawer .list-social__link .icon {
  height: 2.4rem;
  width: 2.4rem;
}

.menu-drawer .list-social__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-drawer .list-social:empty {
  display: none;
}

.mobile-mega-menu__tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mobile-mega-menu__tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  padding: 1rem 0 1rem 1.6rem;
  color: rgb(var(--color-foreground-secondary));
}
.mobile-mega-menu__tab .icon {
  width: 2rem;
  height: 2rem;
}
.mobile-mega-menu__tab a {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}
.js .mobile-mega-menu__submenu {
  visibility: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate(100%);
  background-color: rgb(var(--color-background));
  padding: 0 0 4rem;
  height: calc(100vh - var(--ann-height));
  height: calc(var(--vh, 1vh) * 100 - var(--ann-height));
  display: flex;
  overflow: hidden;
  transition: transform var(--duration-default) cubic-bezier(0.29, 0.63, 0.44, 1), visibility var(--duration-default) cubic-bezier(0.29, 0.63, 0.44, 1);
}
details[open].menu-opening > .mobile-mega-menu__submenu {
  visibility: visible;
  transform: translateX(0);
}
.mobile-mega-menu__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.mobile-mega-menu__header {
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding: 0 2rem;
}
.mobile-mega-menu__back {
  width: 4.4rem;
  height: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-foreground));
  margin-left: -1.6rem;
}
.mobile-mega-menu__back .icon {
  transform: rotate(180deg);
  width: 3.2rem;
  height: 3.2rem;
}
.mobile-mega-menu__content {
  width: 100%;
  height: calc(100% - var(--header-height));
  padding: 0 1.2rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.mobile-mega-menu__content--with-pad-right {
  padding-right: 2rem;
}
.mobile-mega-menu__label {
  color: rgb(var(--color-foreground-secondary));
}
.mobile-mega-menu__products {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  overflow-y: auto;
  padding-right: 0.8rem;
}
.mobile-mega-menu__products::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}
.mobile-mega-menu__products::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-scrollbar));
  border-radius: 2rem;
}
@media screen and (min-width: 576px) {
  .mobile-mega-menu__products {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .mobile-mega-menu__products .mobile-mega-menu__products-card {
    width: calc((100% - 1.6rem) / 2);
  }
}
@media screen and (min-width: 990px) {
  .mobile-mega-menu__products .mobile-mega-menu__products-card {
    width: calc((100% - 3.2rem) / 3);
  }
}
.mobile-mega-menu__products-card {
  position: relative;
  margin: 0;
  padding: 0;
  transition: var(--duration-default);
}
.mobile-mega-menu__image {
  width: 100%;
  border-radius: var(--border-radius-block);
  overflow: hidden;
  position: relative;
  max-width: 36rem;
  align-self: center;
}
.mobile-mega-menu__image--landscape {
  aspect-ratio: 3/2;
}
.mobile-mega-menu__image--portrait {
  aspect-ratio: 3/4;
}
.mobile-mega-menu__image--square {
  aspect-ratio: 1/1;
}
.mobile-mega-menu__image img,
.mobile-mega-menu__image svg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.mobile-mega-menu__image-link {
  position: absolute;
  z-index: 2;
  inset: 0;
}
.mobile-mega-menu__image-link:empty {
  display: block;
}
.mobile-mega-menu__cards-wrapper {
  width: 100%;
  height: calc(100% - var(--header-height));
  padding: 0 1.2rem 0 2rem;
  display: block;
}
.mobile-mega-menu__cards {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  row-gap: 2rem;
  column-gap: 0.8rem;
  overflow-y: auto;
  padding-right: 0.8rem;
}
@media screen and (min-width: 576px) {
  .mobile-mega-menu__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.mobile-mega-menu__cards::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}
.mobile-mega-menu__cards::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-scrollbar));
  border-radius: 2rem;
}

.js .header__left:has(header-drawer > details[open]):not(:has(menu-drawer > details.menu-opening)) + .header__heading > .header__heading-link, .js .header__left:has(header-drawer > details[open]):not(:has(menu-drawer > details.menu-opening)) + .header__heading-link, .js .header__left:has(header-drawer > details[open]):not(:has(menu-drawer > details.menu-opening)) > .header__heading > .header__heading-link, .js .header__left:has(header-drawer > details[open]):not(:has(menu-drawer > details.menu-opening)) > .header__heading-link {
  z-index: 101;
}

.no-js details.menu-drawer-container[open] .header__icon--menu {
  position: relative;
  z-index: 101;
}
.no-js details.menu-drawer-container[open] .header__icon--menu .icon-hamburger {
  visibility: visible;
  opacity: 1;
}